a {
    color: #0E2F44;
    }

h1 a {
        color: #0E2F44;
        font-family: 'Lobster';
}

.button
{
    width:20%;

}
img#p1{
    margin-left: 55px;

    float: left;
}
img#p2{
    float: left;
}
.navbar-brand{
    padding-left: 200px;
    margin-left: 15px;
}

.results{
    padding-left: 80px;
    width: 79%;
    float: left;
}

.paginator{
    width: 100%;
    float: left;
    margin-left: 555px;
    color: #0E2F44;


}

div#content{
    width: 100%;
}

h3 {
    float: left;
    margin-right: 20px;
}

.res_link {
    font-size: larger;
}